# Copyright (c) The ThingSet Project Contributors
# SPDX-License-Identifier: Apache-2.0

menu "ThingSet SDK"

rsource "src/Kconfig.ble"
rsource "src/Kconfig.lorawan"
rsource "src/Kconfig.serial"
rsource "src/Kconfig.storage"

menu "General Publication Settings"

config THINGSET_PUB_EVENTS_DEFAULT
    bool "Enable event-based publication by default"
    depends on THINGSET
    default y

config THINGSET_PUB_LIVE_DATA_DEFAULT
    bool "Enable live data publication by default"
    depends on THINGSET
    default y

config THINGSET_PUB_LIVE_DATA_PERIOD_DEFAULT
    int "Default period for live data publication"
    depends on THINGSET
    default 1

config THINGSET_PUB_REPORTS_DEFAULT
    bool "Enable publication of reports by default"
    depends on THINGSET
    default y

config THINGSET_PUB_REPORTS_PERIOD_DEFAULT
    int "Default period for publication of reports"
    depends on THINGSET
    default 900

endmenu # General Publication Settings

config THINGSET_GENERATE_NODE_ID
    bool "Automatically generate node ID"
    select HWINFO
    default y

config THINGSET_SHARED_TX_BUF_SIZE
    int "ThingSet shared TX buffer size"
    range 256 2048
    default 1024

endmenu # ThingSet SDK
