/*
 * Copyright (c) The ThingSet Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		thingset,serial = &uart0;
	};

	leds {
		compatible = "gpio-leds";
		red_led_1: led_1 {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		led0 = &red_led_1;
	};
};
