# Copyright (c) The ThingSet Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig THINGSET_AUTH
    bool "Basic Authentication"

if THINGSET_AUTH

config THINGSET_AUTH_TOKEN_MAX_SIZE
    int "Auth token max size"
    range 8 65
    default 16

config THINGSET_AUTH_TOKEN_EXPERT
    string "Token to authenticate as expert user"

config THINGSET_AUTH_TOKEN_MANUFACTURER
    string "Token to authenticate as manufacturer"

endif # THINGSET_AUTH
