# Copyright (c) 2022 Libre Solar Technologies GmbH
# SPDX-License-Identifier: Apache-2.0

config THINGSET_LORAWAN
    depends on LORAWAN
    bool "LoRaWAN interface"

if LORAWAN

# LoRaWAN subsystem requires larger work queue stack
config SYSTEM_WORKQUEUE_STACK_SIZE
	default 2048

endif
