# Copyright (c) The ThingSet Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig THINGSET_SERIAL
    bool "Serial interface"

if THINGSET_SERIAL

config THINGSET_SERIAL_RX_BUF_SIZE
    int "ThingSet serial RX buffer size"
    range 64 2048
    default 512

endif # THINGSET_SERIAL
