# Copyright (c) The ThingSet Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig THINGSET_STORAGE
    bool "Storage backend"
    depends on EEPROM || NVS
    select CRC
    help
      Enables long-term storage of data in non-volatile memory (EEPROM or Flash).

if THINGSET_STORAGE

config THINGSET_STORAGE_CHANGE
    bool "Store data upon change to ThingSet stored items"
    default y

config THINGSET_STORAGE_REGULAR
    bool "Store data in regular intervals"
    default y

config THINGSET_STORAGE_INTERVAL
    int "Regular storage interval (in hours)"
    depends on THINGSET_STORAGE_REGULAR
    range 1 8760
    default 6

config THINGSET_STORAGE_DATA_VERSION
    int "Data objects version"
    range 1 65536
    default 1
    help
      This version number has to be increased each time IDs previously used for data objects
      stored in non-volatile memory are re-used for different data objects (different data type
      or different semantics).

      Warning: This will discard previously stored data in order to prevent data corruption. Try
      to avoid changing data object IDs used previously.

config THINGSET_STORAGE_BUFFER_SIZE
    int "ThingSet storage buffer size"
    range 64 2048
    default 512
    help
      Buffer used for load and save functions.

      This buffer cannot be shared with the comms interfaces as storage functions may be called
      from the comms interfaces, resulting in deadlocks.

endif # THINGSET_STORAGE
