# Copyright (c) The ThingSet Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig THINGSET_LOG_BACKEND
    bool "Logging backend"
    depends on LOG
    depends on LOG_MODE_DEFERRED
    select LOG_OUTPUT

if THINGSET_LOG_BACKEND

config THINGSET_LOG_BACKEND_BUF_SIZE
    int "Logging backend buffer size"
    range 32 512
    default 64
    help
      Maximum message size that can be transmitted over the ThingSet log message item.
      Two buffers of this size have to be allocated in RAM.

endif # THINGSET_LOG_BACKEND
