name: Zephyr unit testing and docs build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: zephyrprojectrtos/ci:v0.26.2
    env:
      CMAKE_PREFIX_PATH: /opt/toolchains
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: thingset-zephyr-sdk
          fetch-depth: 0 # necessary to get tags

      - name: Trailing whitespace check
        working-directory: thingset-zephyr-sdk
        run: |
          git diff --check `git rev-list HEAD | tail -n 1`..

      - name: Initialize west workspace
        working-directory: thingset-zephyr-sdk
        run: |
          west init -l .
          west update
          west blobs fetch hal_espressif

      - name: Install docs dependencies
        working-directory: thingset-zephyr-sdk
        run: |
          sudo apt install -y git make python3 python3-pip doxygen
          pip3 install -r docs/requirements.txt

      - name: Run build tests
        working-directory: thingset-zephyr-sdk
        run: |
          west build -p -b olimex_lora_stm32wl_devkit samples/counter -- -DOVERLAY_CONFIG=lorawan.conf
          west build -p -b esp32c3_devkitm samples/counter
          west build -p -b native_posix samples/counter
          west build -p -b nucleo_l073rz samples/counter -- -DOVERLAY_CONFIG=storage_eeprom.conf
          west build -p -b native_posix samples/counter -- -DOVERLAY_CONFIG=auth.conf
          west build -p -b native_posix samples/counter -- -DOVERLAY_CONFIG=can.conf
          west build -p -b native_posix samples/counter -- -DOVERLAY_CONFIG=log_backend.conf
          west build -p -b native_posix samples/counter -- -DOVERLAY_CONFIG=shell.conf

      - name: Build documentation
        working-directory: thingset-zephyr-sdk
        run: |
          cd docs
          make html

      - name: Deploy docs to gh-pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./thingset-zephyr-sdk/docs/build/html/
          enable_jekyll: false
          allow_empty_commit: false
          force_orphan: true
          publish_branch: gh-pages
